.animals{
    margin-right: 5px;
    margin-bottom: 5px;
}

#animalNames{
    margin: 10px;
}

#imgColumn{
    background-color: floralwhite;
    border: 2px solid lightslategray;
    border-radius: 5px;
    box-shadow: 3px 4px darkslateblue;
}

.imgRow{
    margin-top: 10px;
    margin-bottom: 10px;
}

.animalImg{
    cursor: pointer;
    border: 2px solid gray;
}

h4{
    text-align:center;
}

body{
    background-color: lightgray;
}
